brotlipy==0.7.0
cloudpickle==3.0.0
dask==2023.10.0
et-xmlfile==1.1.0
fastjsonschema==2.18.1
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.32
ipython-genutils==0.2.0
isodate==0.6.1
jsonpickle==3.0.2
jsonschema-specifications==2023.7.1
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mkl-service==2.4.0
munkres==1.1.4
nbformat==4.2.0
networkx==3.1
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
partd==1.4.1
ply==3.11
protobuf==3.20.3
pyarrow==13.0.0
PyQt5==5.15.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.1
pywin32==305.1
PyYAML==6.0.1
rdflib==7.0.0
referencing==0.30.2
rpds-py==0.10.0
scipy==1.11.3
streamlit==1.26.0
stvis==0.0.2
traitlets==5.11.2
