cloudpickle==3.0.0
dask==2023.10.0
fastjsonschema==2.18.1
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.32
ipython-genutils==0.2.0
nbformat==4.2.0
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pyarrow==13.0.0
pyvis==0.3.1
streamlit==1.26.0

